<div class="sticky-top sticky-top-offset">
    <h3 class="main-loop-Heading spanborder ml-3"><span>Publications</span></h3>  
    <ol class="list-number">			
        {% assign sorted_publications = site.publications | sort: "year" | sort: "month" | sort: "Day" | reverse %}	
        {% for post in sorted_publications limit:7 %}                
            <li class="mb-4">
            <span>
                <h7 class="font-weight-bold text-titel">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h7>
                <!-- <span class="d-block text-muted">
                    In <span class="catlist">
                    {% for category in post.categories %}
                    <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep"> </span>
                    {% endfor %}
                    </span>
                </span> -->
            </span>
            </li>                
        {% endfor %}
    </ol>
    {% if site.publications.size > 7 %}
    <div class="more-publication-align">
        <a href="{{ site.baseurl }}/publications" >Read More publications</a>
    </div>
    {% endif %}
</div> 

  

