---
layout: default
bodyClass: "page-projects"
---

{% if page.banner.enable %}
<section class="banner bg-cover"
  style="background-image: url('{{ page.banner.bg_image | relative_url }}');">
  <img src="{{ page.banner.image | relative_url }}" class="img-fluid illustration" alt="">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1 class="mb-4">{{ page.title }}</h1>
      </div>
      <div class="col-lg-6 illustration-mobile">
        <img src="{{ page.banner.image | relative_url }}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
{% endif %}

<div class="container pt-6 pb-6">
  <div class="row"  style="margin-top: 20px;">
    {% for project in site.projects %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <!-- limit how many characters of the title is shown, to archive a pleasing look -->
            {% assign protitle = project.title %}
            {% assign limit = 40 %}
            {% if protitle.size > {{limit}}  %} 
              {% assign newprotitle = protitle | slice: 0,{{limit}} | append: "..." %}
              <a href="{{ project.url | relative_url }}">{{ newprotitle }}</a>
            {% else %}
              <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
            {% endif %}
          </h2>
          <p>{{ project.content | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
