---
layout : default
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto block shadow mb-5">
        <div class="d-flex justify-content-center align-items-center mb-4">
          <div class="rounded-circle overflow-hidden" style="height: 200px; width: 200px;">
            <img alt="{{ page.name }}" class="img-fluid" src="{{ page.pic | relative_url }}" />
          </div>
        </div>
        <h3 class="profile-section">{{page.position}}</h3><br>
        <h2 class="profile-name">{{ page.name }}</h2>
        <div class="mb-3 post-meta">
          {% if page.author %}
          <a href="{{ 'author/' | relative_url }}{{ page.author | slugify }}">{{ page.author | capitalize }}</a>{%endif%}
          <!-- {{ page.date | date: '%b %d, %Y' }} -->
          <!-- {{ page.date | date: '%b %d, %Y' }} -->
          {% if page.tags.size >= 1 %}
          {% for tag in page.tags %}
          <a href="{{ '/tag/' | relative_url }}{{ tag | slugify }}">{{ tag | capitalize }}</a>
          {% endfor %}
          {% endif %}
        </div>
        {% if page.image %}
        <img src="{{ page.image | relative_url }}" class="img-fluid w-100 mb-4" alt="{{ page.title }}">
        {% endif %}
        <div class="content mb-5">
          {{ page.content }}

   
          <!-- <h4 class="profile-topics mt-20">Publications</h4> -->
          <h4 class="profile-topics col-lg-12 text-center mt-10">Publications</h4>

            {% assign found_publication = false %}
            <ol>
               {% for publication in site.publications %}
                  {% if page.name == publication.author1 or page.name == publication.author2 or page.name == publication.author3 or page.name == publication.author4 or page.name == publication.author5 or page.name == publication.author6 or page.name == publication.author7 %}
                     <li class="profile-topics"><a href="{{ publication.url | relative_url }}">{{ publication.title }}</a></li>
                     {% assign found_publication = true %}
                  {% endif %}
               {% endfor %}
          </ol>
            {% unless found_publication %}
            <p class="profile-section">Publications are not available.</p>
            {% endunless %}
          
        </div>
     

      <div class="team-social-icon-main">
        <div class="col-lg-5 text-lg-right text-center mb-4 mb-lg-0">
          <ul class="list-inline social-icon mb-0">
            {% for social in site.data.team.social %}
            <li class="list-inline-item"><a href="{{ social.link | relative_url }}"><i class="{{ social.icon }}"></i></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      </div>


    


        
  


          

        <!-- comments -->
        {% if site.disqus_shortname %}
          {% include disqus-comments.html %}
        {% endif %}
        <!-- /comments -->
      </div>
    </div>
  </div>
</section>