---
layout : default
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto block shadow mb-5">
        <div class="d-flex justify-content-center align-items-center mb-4">
          <div class="rounded-circle overflow-hidden" style="height: 200px; width: 200px;">
            <img alt="{{ page.name }}" class="img-fluid" src="{{ page.pic | relative_url }}" />
          </div>
        </div>
        <h2>{{ page.name }}</h2>
        <div class="mb-3 post-meta">
          {% if page.author %}
          <a href="{{ 'author/' | relative_url }}{{ page.author | slugify }}">{{ page.author | capitalize }}</a>{%endif%}
          <!-- {{ page.date | date: '%b %d, %Y' }} -->
          {% if page.tags.size >= 1 %}
          {% for tag in page.tags %}
          <a href="{{ '/tag/' | relative_url }}{{ tag | slugify }}">{{ tag | capitalize }}</a>
          {% endfor %}
          {% endif %}
        </div>
        {% if page.image %}
        <img src="{{ page.image | relative_url }}" class="img-fluid w-100 mb-4" alt="{{ page.title }}">
        {% endif %}
        <div class="content mb-5">
          {{ page.content }}
          <h4>Publications</h4>


          <ol>
          {% for publication in site.publications %}
            {% for team in site.team %}
              {% if team.name == publication.author or team.name == publication.supervisor1 or team.name == publication.supervisor2 or team.name == publication.co-supervisor1 or team.name == publication.co-supervisor2 or team.name == publication.member1 or team.name == publication.member2%}
                 <li><a href="{{ publication.url | relative_url }}">{{ publication.title }}</a></li>
                
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ol>
          
        </div>

  


          

        <!-- comments -->
        {% if site.disqus_shortname %}
          {% include disqus-comments.html %}
        {% endif %}
        <!-- /comments -->
      </div>
    </div>
  </div>
</section>